@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold md:text-5xl;
  }

  h2 {
    @apply text-2xl font-semibold md:text-4xl;
  }

  h3 {
    @apply text-xl font-semibold md:text-3xl;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  h5 {
    @apply font-semibold;
  }

  body {
    @apply text-sm md:text-base;
  }

  .layout {
    /* 750px */
    /* max-width: 43.75rem; */

    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }
}

html {
  overflow-y: scroll;
  min-block-size: -webkit-fill-available;
  background-color: #fffbeb;
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #64748b; /* Color of the thumb */
  border-radius: 6px; /* Roundness of the thumb */

}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

:root {
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.css-art2ul-ValueContainer2 {
  padding: 0 !important;
}

.dropdown-btn:hover .dropdown {
  display: flex;
}